{% extends 'base.html' %}
{% load static %}
{% block title %}
تغییر رمز عبور |
{% endblock title %}

{% block content %}
<div class="atbs-block atbs-block--fullwidth atbs-section-module-contact account-content">
        <h1 class="block-heading__title">
            تغییر رمز عبور
        </h1>
        
    <div class="atbs-block__inner">
        <div class="contact-form inverse-text">
          {{ massage }}
            <form method="post" action="">
                {% csrf_token %}
                
                <label for="mob">رمز عبور قدیمی:</label>
                <input type="password" name="old_password" dir="ltr"><br><br>

                                
                <label for="mob">رمز عبور جدید:</label>
                <input type="password" name="new_password1" dir="ltr"><br><br>

                                    
                <label for="mob">تکرار رمز عبور جدید:</label>
                <input type="password" name="new_password2" dir="ltr"><br><br>

                <br>
                <small>
                    فرم را پر کن تا بتونی یه رمز جدید برای اکانتت بسازی.
                </small>
                <br><br>

    
                <button class="btn btn-primary contactform-submit" 
                  type="submit" id="contactform-submit">ثبت</button>

            </form>

    
        </div>
    </div>
</div>
{% endblock content %}





