
{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock title %}

{% block title %}
  ارسال تغییر رمز عبور
{% endblock title %}

{% block content %}
<div class="atbs-block atbs-block--fullwidth atbs-section-module-contact account-content">
        
    <div class="atbs-block__inner">
        <div class="contact-form inverse-text">
            <p class="mb-1 fs-5 fw-bold">
                فرم تغییر رمز عبور براتون ایمیل شد؛
            </p>

            <p class="mb-3">
                لطفا ایمیل خودتون را بررسی کنید.
            </p>
        </div>
    </div>
</div>
{% endblock content %}

