
{% extends 'base.html' %}
{% load static %}

{% block title %}
تغییر پسورد موفقیت امیز بود
{% endblock title %}

{% block content %}
<div class="atbs-block atbs-block--fullwidth atbs-section-module-contact account-content">
        
    <div class="atbs-block__inner">
        <div class="contact-form inverse-text">
            <p class="mb-1 fs-5 fw-bold">
                رمز عبور شما با موفقیت تغییر کرد:)
            </p>

            <p class="mb-3">
                میتوانید وارد پروفایل خود شوید
            </p>

            <a class="btn btn-primary" href="{% url 'login' %}">
                ورود
            </a>
    
        </div>
    </div>
</div>
{% endblock content %}
