{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock title %}

{% block title %}
  تکمیل تغییر پسورد
{% endblock title %}

{% block content %}
<div class="atbs-block atbs-block--fullwidth atbs-section-module-contact account-content">
        
    <div class="atbs-block__inner">
        <div class="contact-form inverse-text">
            <p class="mb-1 fs-5 fw-bold">
                رمـز عبـورتون با موفقیـت تغییـر کـرد؛
            </p>

            <p class="mb-3">
                میتوانید وارد پروفایل خود شوید
            </p>

            <a class="btn btn-primary" href="{% url 'profile' %}">
                ورود
            </a>
    
        </div>
    </div>
</div>
{% endblock content %}





